{% extends "base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"> {% endblock %}
{% block content %}
<div class="body">
    <div class="wrap">
        <h1>Danh sách nội dung đã mã hóa.</h1>
        <hr class="hrx">
        <div class="media-list">
            {% for _media in media %}
            <div class="media-item">
                <div class="content-img"><a href="#"><img
                            src="{{url_for('static', filename='images/content_icon_mp3.svg')}}"></a>
                </div>
                <p class="content-detail">{{_media.detail}}</p>
                <p class="content-delete"><a href="{{ url_for('delete_content',media_id=_media.id) }}">Delete</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}